body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: #fff;
  overflow: hidden;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  padding-right: 0 !important;
}
